<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://www.enicarthage.rnu.tn/">
                        ENICAR
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/groups/758139380908475">
                        Facebook
                    </a>
                </li>
                
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}} -enicarthage 
        </div>
    </div>
</footer>
